@charset "UTF-8";
/*  #hack{
      color:red; /* All browsers */
/*    color:red !important;/* All browsers but IE6 */
/*    _color:red; /* Only works in IE6 */
/*    *color:red; /* IE6, IE7 */
/*    +color:red;/* Only works in IE7*/
/*    *+color:red; /* Only works in IE7 */
/*    color:red\9; /* IE6, IE7, IE8, IE9 */
/*    color:red\0; /* IE8, IE9 */
/*    color:red\9\0;/*Only works in IE9*/
/*   }
/*  . ie10 #hack{
      color:red; /* Only works in IE10 */
/*  }*/
/* ╤Б╨╗╨╡╨│╨║╨░ ╨┤╨╛╤А╨░╨▒╨╛╤В╨░╨╜╨╜╤Л╨╣, ╤Г╨╜╨╕╨▓╨╡╤А╤Б╨░╨╗╤М╨╜╤Л╨╣ clearfix ╤Е╨░╨║ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*@font-face {font-family: 'FRABK'; 
  src: url('fonts/FRABK.eot'); 
  src: local('FRABK'), url('fonts/FRABK.eot?#iefix') format('embedded-opentype'), url('fonts/FRABK.woff') format('woff'),url('fonts/FRABK.ttf') format('truetype'), url('fonts/FRABK.svg#FRABK-Regular') format('svg');}

@font-face {font-family: 'FRABK'; 
  font-style: italic;
  src: url('fonts/FRABKIT.eot'); 
  src: local('FRABK Italic'), url('fonts/FRABKIT.eot?#iefix') format('embedded-opentype'), url('fonts/FRABKIT.woff') format('woff'),url('fonts/FRABKIT.ttf') format('truetype'), url('fonts/FRABKIT.svg#FRABK-Italic') format('svg');}

@font-face {font-family: 'FRABK';
  src: url('fonts/FRADMCN.eot');
  font-style: normal;
  font-weight: bold; 
  src: local('FRABK Bold'), url('fonts/FRADMCN.eot?#iefix') format('embedded-opentype'), url('fonts/FRADMCN.woff') format('woff'),url('fonts/FRADMCN.ttf') format('truetype'), url('fonts/FRADMCN.svg#FRABK-Bold') format('svg');}*/
@font-face {
  font-family: frank;
  src: url("fonts/FRABK.eot");
  src: local("FRABK"), url("fonts/FRABK.eot?#iefix") format("embedded-opentype"), url("fonts/FRABK.woff") format("woff"), url("fonts/FRABK.ttf") format("truetype"), url("fonts/FRABK.svg#FRABK-Regular") format("svg");
}
@font-face {
  font-family: frank;
  font-style: italic;
  src: url("fonts/FRABKIT.eot");
  src: local("FRABK Italic"), url("fonts/FRABKIT.eot?#iefix") format("embedded-opentype"), url("fonts/FRABKIT.woff") format("woff"), url("fonts/FRABKIT.ttf") format("truetype"), url("fonts/FRABKIT.svg#FRABK-Italic") format("svg");
}
@font-face {
  font-family: frankcond;
  src: url("fonts/FRADMCN.eot");
  src: local("FRABK Bold"), url("fonts/FRADMCN.eot?#iefix") format("embedded-opentype"), url("fonts/FRADMCN.woff") format("woff"), url("fonts/FRADMCN.ttf") format("truetype"), url("fonts/FRADMCN.svg#FRABK-Bold") format("svg");
}
/**********************************************************/
/**********************************************************/
/*@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensanslight.eot');
    src: url('../font/opensanslight.eot?#iefix') format('embedded-opentype'),
         url('../font/opensanslight.woff2') format('woff2'),
         url('../font/opensanslight.woff') format('woff'),
         url('../font/opensanslight.ttf') format('truetype'),
         url('../font/opensanslight.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
html {
  min-width: 960px;
}

body {
  background: url("../image/bac.jpg") #523322 no-repeat;
  background-size: 100%;
  font-family: frank, sans-serif;
  font-size: 17px;
  color: #523322;
  line-height: 1.2;
}

a {
  font-size: 13px;
  color: #81817e;
}
a:visited {
  color: #81817e;
}
a:hover {
  color: #523322;
}
a:active {
  color: #81817e;
}
a:focus {
  color: #81817e;
}

p {
  margin-bottom: 19px;
}

b, strong {
  font-weight: bold;
}

h2 {
  font-family: frankcond, sans-serif;
  color: #523322;
  font-size: 20px;
}

.inner {
  max-width: 960px;
  margin: 0 auto;
  min-width: 285px;
}

button {
  display: block;
  border: none;
  width: 147px;
  height: 31px;
  background-color: #523322;
  color: #f1ead8;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  -webkit-transition: 0.1s 0.1s ease-in-out;
  -moz-transition: 0.1s 0.1s ease-in-out;
  -o-transition: 0.1s 0.1s ease-in-out;
  -ms-transition: 0.1s 0.1s ease-in-out;
  transition: 0.1s 0.1s ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: #a48157;
}

/**********************************************************/
/**********************************************************/
.breadcrumb {
  margin-top: -20px;
  margin-bottom: 25px;
}
.breadcrumb_item {
  font-size: 13px;
  color: #81817e;
  margin-left: 7px;
  position: relative;
}
.breadcrumb_item:before {
  background: url("../image/arrow.gif") no-repeat;
  content: "";
  display: inline-block;
  height: 9px;
  width: 5px;
  position: absolute;
  left: -7px;
  top: 5px;
}
.breadcrumb_link {
  position: relative;
  margin-left: 7px;
}
.breadcrumb_link:before {
  background: url("../image/arrow.gif") no-repeat;
  content: "";
  display: inline-block;
  height: 9px;
  width: 5px;
  position: absolute;
  left: -7px;
  top: 5px;
}
.breadcrumb_link:first-child {
  margin: 0px;
}
.breadcrumb_link:first-child:before {
  display: none;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  /*bottom: -30px;
  width: 100%;*/
  bottom: 50px;
  right: 17px;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #fefefe;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  outline: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e1be94;
}

.title {
  overflow: hidden;
}
.title h1 {
  font-family: frankcond;
  float: left;
  color: #523322;
  font-size: 27px;
  text-transform: uppercase;
  padding-right: 22px;
}
.title_border {
  border-bottom: 1px solid #523322;
  overflow: hidden;
  padding-top: 24px;
  margin-right: 15px;
}

.header {
  background: url(../image/header.jpg) no-repeat;
  background-size: 1920px;
  background-position: center bottom;
  position: relative;
  z-index: 2;
}
.header_top {
  overflow: hidden;
  padding: 30px 0px 370px 0px;
}
@media only screen and (max-width: 1279px) {
  .header_top {
    padding-bottom: 340px;
    padding-top: 10px;
  }
}
.header_slang {
  padding-top: 20px;
  width: 290px;
  float: left;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
}
.header_slang span {
  display: block;
  padding-top: 20px;
  color: #c4a07e;
}
@media only screen and (max-width: 1279px) {
  .header_slang span {
    padding-top: 7px;
  }
}
.header_logo {
  width: 241px;
  float: left;
  margin-left: 70px;
}
.header_link {
  display: block;
  max-width: 241px;
  height: 180px;
  background: url(../image/logo.png) no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.header_phone {
  padding-top: 20px;
  width: 180px;
  float: left;
  margin-left: 130px;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  position: relative;
}
.header_phone span {
  display: block;
  width: 19px;
  height: 18px;
  position: absolute;
  background: url(../image/icons.png);
  background-position: -57px 0;
  bottom: 1px;
  left: -6px;
}
.header_phone a {
  display: block;
  padding: 20px 0px 0px 15px;
  color: #c4a07e;
  color: #c4a07e;
  text-decoration: none;
}
.header_phone a:visited {
  color: #c4a07e;
}
.header_phone a:hover {
  color: #c4a07e;
}
.header_phone a:active {
  color: #c4a07e;
}
.header_phone a:focus {
  color: #c4a07e;
}
@media only screen and (max-width: 1279px) {
  .header_phone a {
    padding-top: 7px;
  }
}

.menu {
  padding: 0px 22px 0px 22px;
  height: 42px;
  background-color: #523322;
}
.menu_list {
  display: table;
  width: 100%;
  list-style-type: none;
}
.menu_list__l2 {
  list-style-type: none;
  background-color: #a48157;
  position: absolute;
  top: 42px;
  left: 0px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu_item:hover .menu_list__l2 {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.menu_item {
  display: table-cell;
  position: relative;
}
.menu_item__l2 {
  color: #f1ead8;
  display: block;
}
.menu_item__l2:hover {
  background-color: #523322;
}
.menu_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  display: block;
  padding: 15px 0px 15px 13px;
  text-transform: uppercase;
  font-family: frank;
  font-weight: normal;
  line-height: 1;
}
.menu_link:visited {
  color: #ffffff;
}
.menu_link:hover {
  color: #ffffff;
}
.menu_link:active {
  color: #ffffff;
}
.menu_link:focus {
  color: #ffffff;
}
.menu_link:hover {
  color: #c4a07e;
}
.menu_link__active {
  color: #c4a07e;
}
.menu_link__active:visited {
  color: #c4a07e;
}
.menu_link__active:hover {
  color: #c4a07e;
}
.menu_link__active:active {
  color: #c4a07e;
}
.menu_link__active:focus {
  color: #c4a07e;
}
.menu_link__l2 {
  background: url(../image/list.gif) no-repeat;
  background-position: 17px 13px;
  padding: 10px 15px 10px 32px;
}
.menu_link__l2:hover {
  color: #ffffff;
}

.news {
  padding: 0px 0px 0px 5px;
}
.news_item {
  margin-bottom: 68px;
}
.news_title {
  margin-bottom: 10px;
  max-width: 660px;
}
.news_title a {
  color: #533423;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: frankcond;
}
.news_title a:visited {
  color: #533423;
}
.news_title a:hover {
  color: #533423;
}
.news_title a:active {
  color: #533423;
}
.news_title a:focus {
  color: #533423;
}
.news_title a:hover {
  text-decoration: underline;
}
.news_wrap {
  overflow: hidden;
}
.news_image {
  float: left;
  width: 192px;
  height: 120px;
}
.news_text {
  float: left;
  max-width: 630px;
  padding: 7px 0px 0px 40px;
}
.news_date {
  font-size: 12px;
  color: #81817e;
}
.news_body {
  font-size: 17px;
  color: #231f20;
  padding: 15px 0px 15px 0px;
}

.partners {
  padding: 27px 0px 0px 12px;
}
.partners_item {
  overflow: hidden;
  margin-bottom: 18px;
}
.partners_image {
  float: left;
  width: 195px;
  height: 93px;
}
.partners_text {
  float: left;
  max-width: 660px;
  padding: 20px 0px 0px 18px;
}
.partners_title {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.partners_descr {
  color: #4d4d4d;
  font-size: 17px;
  padding: 8px 0px 0px 0px;
}

.how {
  overflow: hidden;
  padding-bottom: 96px;
}
.how_image {
  width: 339px;
  height: 226px;
  float: right;
}
.how_text {
  max-width: 520px;
  padding: 35px 0px 0px 0px;
}
.how p {
  margin-bottom: 29px;
}

.about_descr {
  padding: 35px 0px 60px 0px;
}
.about_title {
  font-family: frankcond, sans-serif;
  font-size: 20px;
  margin-bottom: 18px;
}
.about_item {
  margin-bottom: 60px;
}
.about_photo {
  overflow: hidden;
}
.about_photo img {
  margin-bottom: 30px;
}
.about_image {
  float: left;
}
.about_image img {
  width: 241px;
  height: 144px;
}
.about_imagedescr {
  max-width: 590px;
  float: left;
  padding: 5px 0px 0px 30px;
}
.about_text {
  margin-top: -5px;
}
.about ul {
  list-style-type: square;
  overflow: hidden;
}
.about li {
  float: left;
  margin-left: 100px;
  width: 80px;
}

.contacts {
  overflow: hidden;
}

.info {
  max-width: 580px;
  float: left;
  padding: 0px 0px 0px 5px;
}
.info_title {
  font-family: frankcond, sans-serif;
  color: #523322;
  font-size: 27px;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.info_head {
  font-family: frankcond, sans-serif;
  color: #4d4d4d;
  font-size: 20px;
  text-transform: uppercase;
}
.info_item {
  margin-bottom: 40px;
  position: relative;
  padding: 0px 0px 0px 32px;
}
.info_icon {
  width: 20px;
  height: 19px;
  background: url(../image/icons2.png) no-repeat;
  position: absolute;
  top: 2px;
  left: 0px;
}
.info_icon__phone {
  background-position: -20px 0px;
}
.info_icon__skype {
  background-position: -40px 0px;
}

.feedback {
  width: 285px;
}
.feedback_inputwrap {
  margin-bottom: 15px;
}
.feedback_inputwrap input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #ffffff;
  font-family: frankc, sans-serif;
  color: #4d4d4d;
  font-size: 16px;
  padding: 0px 0px 0px 12px;
  -webkit-transition: 0.1s 0.1s ease-in-out;
  -moz-transition: 0.1s 0.1s ease-in-out;
  -o-transition: 0.1s 0.1s ease-in-out;
  -ms-transition: 0.1s 0.1s ease-in-out;
  transition: 0.1s 0.1s ease-in-out;
}
.feedback_inputwrap input:hover {
  border: 1px solid #838482;
}
.feedback_inputwrap input:focus {
  border: 1px solid #838482;
}
.feedback_textareawrap {
  margin-bottom: 15px;
}
.feedback_textareawrap textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 72px;
  border: 1px solid #ffffff;
  font-family: frankc, sans-serif;
  color: #4d4d4d;
  font-size: 16px;
  padding: 0px 0px 0px 12px;
  resize: none;
  -webkit-transition: 0.1s 0.1s ease-in-out;
  -moz-transition: 0.1s 0.1s ease-in-out;
  -o-transition: 0.1s 0.1s ease-in-out;
  -ms-transition: 0.1s 0.1s ease-in-out;
  transition: 0.1s 0.1s ease-in-out;
}
.feedback_textareawrap textarea:hover {
  border: 1px solid #838482;
}
.feedback_textareawrap textarea:focus {
  border: 1px solid #838482;
}
.feedback_label {
  font-family: frank, sans-serif;
  color: #4d4d4d;
  font-size: 16px;
  padding: 0px 0px 0px 12px;
}
.contacts .feedback {
  float: right;
}
.feedback_title {
  font-family: frankcond, sans-serif;
  color: #523322;
  font-size: 27px;
  text-transform: uppercase;
  padding: 0px 0px 0px 12px;
  margin-bottom: 15px;
}
.feedback_buttonwrap {
  padding-top: 11px;
}
.feedback_buttonwrap input {
  display: block;
  border: none;
  width: 147px;
  height: 31px;
  background-color: #4d4d4d;
  color: #f1ead8;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px 0px 0px 12px;
  -webkit-transition: 0.1s 0.1s ease-in-out;
  -moz-transition: 0.1s 0.1s ease-in-out;
  -o-transition: 0.1s 0.1s ease-in-out;
  -ms-transition: 0.1s 0.1s ease-in-out;
  transition: 0.1s 0.1s ease-in-out;
}
.feedback_buttonwrap input:hover {
  cursor: pointer;
  background-color: #a48157;
}

.map {
  padding: 44px 0px 0px 0px;
}

.article {
  background-color: #f1ead8;
  padding: 30px 35px 35px 35px;
  -webkit-box-shadow: 0px 0px 160px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 160px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 160px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
}
.article_text {
  padding: 32px 15px 0px 15px;
  letter-spacing: 0.5px;
}

.news .mypager {
  margin: -9px 0px 0px 0px;
  padding-bottom: 76px;
}
.mypager_item {
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  padding: 0px 4px 0px 4px;
  float: none;
  margin-left: 0px;
  width: auto;
}
.mypager_item__current {
  background-color: #523322;
}
.mypager_item a {
  color: #523322;
  font-size: 14px;
  text-decoration: none;
}
.mypager_item a:visited {
  color: #523322;
}
.mypager_item a:hover {
  color: #523322;
}
.mypager_item a:active {
  color: #523322;
}
.mypager_item a:focus {
  color: #523322;
}
.mypager_item a:hover {
  text-decoration: underline;
}

.slider {
  height: 300px;
  background-color: #ddd;
  margin: 0px 0px 55px 0px;
  -webkit-box-shadow: 0px 30px 31px -31px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 30px 31px -31px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 30px 31px -31px rgba(0, 0, 0, 0.75);
  position: relative;
}
.slider img {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.slider h1 {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0px 0px 28px 0px;
}
.slider p {
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  margin-bottom: 24px;
}
.slider_text {
  position: relative;
  z-index: 2;
  padding: 50px;
}

.gallery {
  overflow: hidden;
  padding: 30px 0px 30px 15px;
}
.gallery_item {
  width: 194px;
  height: 121px;
  background: url(../image/view.png) #49352a no-repeat;
  background-position: 50% 50%;
  float: left;
  margin-right: 25px;
}
.gallery_item img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.gallery_item img:hover {
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  cursor: pointer;
}
.gallery_item:last-child {
  margin-right: 0px;
}

.quote {
  padding: 25px 125px 30px 125px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}
.quote:before {
  position: absolute;
  top: 17px;
  left: 80px;
  width: 38px;
  height: 32px;
  content: "";
  background: url(../image/quotes.png) no-repeat;
}
.quote:after {
  position: absolute;
  bottom: 0px;
  right: 80px;
  width: 38px;
  height: 32px;
  content: "";
  background: url(../image/quotes.png) no-repeat;
  background-position: -38px 0px;
}

.webformat {
  display: inline-block;
  width: 365px;
  height: 23px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../image/webformat.png) no-repeat;
}

.footer {
  overflow: hidden;
  color: #f1ead8;
  font-size: 17px;
}
.footer_top {
  overflow: hidden;
  max-width: 960px;
  margin: 0 auto;
  min-width: 285px;
}
.footer_contacts {
  float: left;
  margin: 50px 0px 0px 275px;
}
.footer_logo {
  margin: 39px 0px 47px 37px;
  float: left;
}
.footer_logo a {
  display: block;
  height: 108px;
  width: 144px;
  background: url(../image/logo_b.png) no-repeat;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
.footer_info {
  overflow: hidden;
}
.footer_phone {
  float: left;
  padding: 10px 0px 0px 30px;
  line-height: 1.3;
  position: relative;
}
.footer_wrap {
  float: left;
  margin: 0px 0px 0px 40px;
  padding: 10px 0px 0px 0px;
}
.footer_address {
  position: relative;
  padding-left: 30px;
  margin-bottom: 7px;
}
.footer_skype {
  position: relative;
  padding-left: 30px;
}
.footer_icon {
  width: 19px;
  height: 18px;
  background: url(../image/icons.png) no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}
.footer_phone .footer_icon {
  top: 11px;
  left: 0px;
}
.footer_address .footer_icon {
  background-position: -19px 0px;
}
.footer_skype .footer_icon {
  background-position: -38px 0px;
}
.footer_title {
  font-family: frankcond, sans-serif;
  text-transform: uppercase;
  padding: 0px 0px 0px 30px;
}
.footer_bottom {
  background-color: #f1ead8;
  text-align: center;
  padding: 12px 0px 8px 0px;
}

/*# sourceMappingURL=all.css.map */
