.breadcrumb{
  margin-top:-20px;
  margin-bottom: 16px;
  &_item{
    font-size: 13px;
    color: #4d4d4d;
    margin-left: 10px;
    position: relative;
    &:before{
      background: url("../image/bread.gif") no-repeat;
      content: "";
      display: inline-block;
      height: 9px;
      width: 5px;
      position: absolute;
      left: -7px;
      top: 4px;
    }
  }
  &_link{
    position: relative;
    margin-left: 10px;
    @include def-link-colors(#4d4d4d, #523322, #4d4d4d, #4d4d4d, #4d4d4d);
    &:before{
      background: url("../image/bread.gif") no-repeat;
      content: "";
      display: inline-block;
      height: 9px;
      width: 5px;
      position: absolute;
      left: -7px;
      top: 4px;
    }
    &:first-child{
      margin: 0px;
    }
    &:first-child:before{
      display: none;
    }
  }
}