.breadcrumb{
  margin-top:-20px;
  margin-bottom: 25px;
  &_item{
    font-size: 13px;
    color: #81817e;
    margin-left: 7px;
    position: relative;
    &:before{
      background: url("../image/arrow.gif") no-repeat;
      content: "";
      display: inline-block;
      height: 9px;
      width: 5px;
      position: absolute;
      left: -7px;
      top: 5px;
    }
  }
  &_link{
    position: relative;
    margin-left: 7px;
    &:before{
      background: url("../image/arrow.gif") no-repeat;
      content: "";
      display: inline-block;
      height: 9px;
      width: 5px;
      position: absolute;
      left: -7px;
      top: 5px;
    }
    &:first-child{
      margin: 0px;
    }
    &:first-child:before{
      display: none;
    }
  }
}