.menu {
  padding: 0px 22px 0px 22px;
  height: 42px;
  background-color: #523322;
  &_list{
    display: table;
    @include old-ie{
      *display: block;
    }
    width: 100%;
    list-style-type: none;
    &__l2{
      list-style-type: none;
      background-color: #a48157;
      position: absolute;
      top: 42px;
      left: 0px;
      @include def-opacity(0);
      visibility: hidden;
      z-index: 2;
      @include def-transition(all, 0.2s, ease-in-out);
      .menu_item:hover & {
        visibility: visible;
        @include def-opacity(1);
      }
    }            
  }
  &_item{
    display: table-cell;
    @include old-ie{
      *display: block;
      *float: left;
    }
    position: relative;
    &__l2{
        color: #f1ead8;
        display: block;
        &:hover{
          background-color: #523322;
        }
    }
  }
  &_link{
    @include def-link-colors(#ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding: 15px 0px 15px 13px;
    text-transform: uppercase;
    font-family: frank;
    font-weight: normal;
    line-height: 1;
    &:hover{
      color: #c4a07e;
    }
    &__active{
      @include def-link-colors(#c4a07e, #c4a07e, #c4a07e, #c4a07e, #c4a07e);
    }
    &__l2{
      background: url(../image/list.gif) no-repeat;
      background-position: 17px 13px;
      padding: 10px 15px 10px 32px;
      &:hover{
        color: #ffffff;
      }
    }
  }
}