.mypager{
  .news &{
    margin: -9px 0px 0px 0px;
    padding-bottom: 76px;
  }
  &_list{
    position: relative;
  }
  &_item{
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    padding: 0px 4px 0px 4px;
    float: none;
    margin-left: 0px;
    width: auto;
    &__current{
      background-color: #523322;
    }
    a{
      @include def-link-colors(#523322, #523322, #523322, #523322, #523322);
      font-size: 14px;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
    .ajax-progress{
      position: absolute;
      top: 2px;
      left: -25px;
      .throbber {
        background: transparent url(../image/ajax-loader.gif) no-repeat 0px 0px !important; //* tweak this according to your gif */
        float: left;
        height: 16px; //* tweak this according to your gif */
        width: 16px; //* tweak this according to your gif */
      }
    }
  }
}