.siteerror{
  margin-top: 75px;
  background-color: #f1ead8;
  padding: 30px 35px 35px 35px;
  -webkit-box-shadow: 0px 0px 160px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 160px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 160px 0px rgba(0,0,0,0.75);
  position: relative;
  z-index: 1;
  &_text{
    padding: 32px 15px 0px 15px;
    letter-spacing: 0.5px;
  }
  h1{
    font-family: frankcond;
    color: #666666;
    font-size: 80px;
  }
  &_inner{
    overflow: hidden;
  }
  &_left{
    float: left;
    width: 640px;
    color: #666666;
    ul{
      list-style-type: square;
      list-style-position: inside;
      padding-left: 10px;
    }
    li{
      display: list-item;
      color: #666666;
      padding-left: 5px;
    }
  }
  &_right{
    float: left;
    width: 170px;
    padding-left: 70px;
    ul{
      display: block;
      list-style-type: square;
      list-style-position: outside;
      margin-left: 10px;
    }
    .menu_list__l2{
      display: none;
    }
    li{
      display: list-item;
    }
    a, .menu_link{
      color: #ffffff;
      @include def-link-colors(#523322, #666666, #523322, #523322, #523322);
      padding: 0px;
      text-transform: none;
      display: block;
      font-family: frank;
      font-size: 18px;
      font-weight: normal;
      line-height: 1;
      text-decoration: none;
      display: inline;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &_head{
    font-family: frank;
    font-size: 18px;
    color: #523322;
    margin-bottom: 14px;
  }
}