.slider{
  height: 300px;
  background-color: #ddd;
  margin: 0px 0px 55px 0px;
  -webkit-box-shadow: 0px 30px 31px -31px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 30px 31px -31px rgba(0,0,0,0.75);
  box-shadow: 0px 30px 31px -31px rgba(0,0,0,0.75);
  position: relative;
  img{
    display: block;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
  h1{
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px 0px 28px 0px;
  }
  p{
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  &_text{
    position: relative;
    z-index: 2;
    padding: 50px;
  }
}