@import "mymix";
@import "fonts";
@import "hide";
//**********************************************************/
//**********************************************************/
//@font-face {
//    font-family: 'open_sanslight';
//    src: url('../font/opensanslight.eot');
//    src: url('../font/opensanslight.eot?#iefix') format('embedded-opentype'),
//         url('../font/opensanslight.woff2') format('woff2'),
//         url('../font/opensanslight.woff') format('woff'),
//         url('../font/opensanslight.ttf') format('truetype'),
//         url('../font/opensanslight.svg#open_sanslight') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
html{
  min-width: 960px;
}

body{
  background: url('../image/bac.jpg') #523322 no-repeat;
  background-size: 100%;
  font-family: frank, sans-serif;
  //font-family: 'FRABK', sans-serif;
  font-size: 17px;
  color: #523322;
  line-height: 1.2;
}
a{
  font-size: 13px;
  @include def-link-colors(#81817e, #523322, #81817e, #81817e, #81817e);
}
a:focus {
  outline: none;
}
p{
  margin-bottom: 19px;
}
b, strong{
  font-weight: bold;
}
img{
  //width: 100%;
  //height: auto;
}
h2{
  font-family: frankcond, sans-serif;
  color: #523322;
  font-size: 20px;
}

.inner{
  max-width: 960px;
  margin: 0 auto;
  min-width: 285px;
  @include old-ie{
    min-width: 960px;
  }
}
button{
  display: block;
  border: none;
  width: 147px;
  height: 31px;
  background-color: #523322;
  color: #f1ead8;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  @include def-transition(background-color, 0.1s);
  &:hover{
    cursor: pointer;
    background-color: #a48157;
  }
}
//**********************************************************/
//**********************************************************/
@import "callback";
@import "comm";
@import "object";
@import "breadcrumb";
@import "bxslider";
@import "title";
@import "header";
@import "menu";
@import "news";
@import "partners";
@import "how";
@import "about";
@import "contacts";
@import "info";
@import "feedback";
@import "map";
@import "article";
@import "siteerror";
@import "node";
@import "mynode";
@import "mypager";
@import "slider";
@import "gallery";
@import "gallerynode";
@import "quote";
@import "webformat";
@import "footer";